.about {
  background: linear-gradient(135deg, #1b002d, #5c0099);
  padding: 120px 40px;
  color: white;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 50px;
}

/* الصورة */
.about-image img {
  width: 420px;
  opacity: 0;
  transform: translateY(150px);
  transition: all 2.5s ease-out;
}

.about-image.show img {
  opacity: 1;
  transform: translateY(0);
}

/* النص */
.about-text {
  flex: 1;
  text-align: left;
}

.about-text h2 {
  font-size: 38px;
  margin-bottom: 20px;
  color: #ff00f7;
}

.about-text p {
  font-size: 23px;
  margin-bottom: 30px;
  line-height: 1.6;
}

/* المهارات */
.skills-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: cyan;
}

.skill {
  margin-bottom: 25px;
}

.skill-info {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  margin-bottom: 8px;
}

/* الأيقونات */
.icon {
  font-size: 30px;
  padding: 8px;
  border-radius: 10px;
  color: white;
}

.icon.photoshop { background: #31a8ff; }
.icon.illustrator { background: #ff9a00; }
.icon.aftereffects { background: #d291ff; }
.icon.premiere { background: #ea77ff; }

/* البار */
.progress {
  background: rgba(255, 255, 255, 0.2);
  height: 12px;
  border-radius: 20px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(90deg, #ff00f7, #8a00d4);
  border-radius: 20px;
  transition: width 2s ease-out;
}
.fixed-image {
  position: fixed;
  bottom: 20px;   /* من تحت */
  right: 20px;    /* من اليمين */
  z-index: 9999;  /* فوق باقي العناصر */
}

.fixed-image img {
  width: 300px;   /* حجم الصورة */
  height: auto;
  border-radius: 10px;   /* لو عايزها بحواف دائرية */
}